.category-scrollbar {
    height: 250px;
    overflow: auto;
}

.category-scrollbar::-webkit-scrollbar{
    width: 6px;
}

.category-scrollbar::-webkit-scrollbar-track{
    // border-radius: 20px;
    // background: black;
    margin: 2px;
    //cả cây scroll bar
}

.category-scrollbar::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    border-radius: 4px;
    //cây scroll bar đang nằm tại vị trí
}

.category-scrollbar::-webkit-scrollbar-thumb:hover{
    background: #555; 
}

.container-content-examining{
    width: 100%;
    height: 388px;
    //box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);
    border-radius: 20px;
    border: 2px solid #ff8a65;

    .content-examining{
        padding: 0px 12px 0px 12px;
        height: 47.4vh;
        overflow: auto;
    }

    //thanh cuộn cho div content-examining
    .content-examining::-webkit-scrollbar{
        width: 7.5px;
    }

    .content-examining::-webkit-scrollbar-track{
        background-color: silver;
        border-radius: 4px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .content-examining::-webkit-scrollbar-thumb{
        width: 4px;
        background-color: #555;
        border-radius: 4px;
    }

    // .content-examining::-webkit-scrollbar-thumb:hover{
    //     background: #555; 
    // }

    .textfield-for-answer{
        border: 2px solid rgb(218,220,224);
        border-top: 0px;
        padding: 0.5px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        .suggest-note{
            width: 100%;
            outline: none;
            display: flex;
            align-items: center;

            .textarea-autosize{
                width: 100%;
                color: red;
                border: none;
                outline: none;
            }
        }

        .value-for-answer{
            width: 100%;
            color: red;
            border: none;
            outline: none;
            font-size: 1.14rem;
        }
    }

    .chipUnDoneExamms {
        border-radius: 20px;
        padding: 6px;
        color: #fff;
        background-color: #ff1744;
    }
    
    .chipDoingExamms {
        border-radius: 20px;
        padding: 6px;
        color: #fff;
        background-color: #ff9100;
    }
    
    .chipDoneExamms {
        border-radius: 20px;
        padding: 6px;
        color: #fff;
        background-color: #00c853;
        text-align: center;
    }
    
    .chipLabel {
        margin: 0;
    }

    .footer-content-examining{
        display: flex;
        justify-content: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #ff8a65;
        height: 4.8vh;
    }
}