.chipUnDoneExamms {
    border-radius: 20px;
    padding: 6px;
    color: #fff;
    background-color: #ff1744;
}

.chipDoingExamms {
    border-radius: 20px;
    padding: 6px;
    color: #fff;
    background-color: #ff9100;
}

.chipDoneExamms {
    border-radius: 20px;
    padding: 6px;
    color: #fff;
    background-color: #00c853;
    text-align: center;
}

.chipLabel {
    margin: 0;
}